/*For the navbar*/
@media only screen and (max-width: 1200px) {
	.sign-up-div {
    	display: none;
    }
    .navbar-toggler-icon {
    	background-image: url(../img/hamburg.png);
    	width: 2em;
    	height: 2em;
    }
    .navbar-toggler {
    	border: none;
    	padding: 2px;
    }
    .navbar-toggler:focus {
	   	box-shadow: 0 0 8px var(--bs-navbar-toggler-focus-width) white;
	    border-radius: 50%;
	}
	.nav-itm {
		margin: 15px 35px 0 35px;
		align-items: center;
		gap: 4px;
	}
	.nav-itm li a {
    	font-size: 20px;
	}
	.nav-itm li:first-child{
		padding-left: 0 !important;
	}
	.nav-itm li:last-child{
		padding-right: 0 !important;
	}
	.sign-up {
		display: unset;
	}
}

/* ==================================
		Media for medium screen
===================================*/
@media only screen and (max-width: 1024px) { 
								/* ==================================
										Banner section
								===================================*/
	.cards { 
	   	display: flex;
	   	justify-content: space-around;
	   	box-sizing: border-box;
	    gap: 0;
	    padding: 0;
	}
	.banner-body {
		height: 100%;
	}
	.cards {
		flex-wrap: wrap;
	}
	.backside-card-1 {
  		padding: 5.5rem 0 0 0;
	}
	.card-3{
		padding-bottom: 1rem;
	}
	.get-btn {
		padding: 13px 25px 13px;
	}
	.bnr-text-input {
   		width: 41rem;
   	}
   	.custom-bg {
    	background: url(../img/maskgroup.png) no-repeat top -18% center,
    	 url(../img/Background.png) no-repeat bottom center;
   	 	background-size: auto, 100% 100%;
	}
	.banner-body {
    	background-color: var(--bg-blue);
    }
    
								/* =============================== 
										  	Sell your car
								================================= */
	.sell-car-step {
	    display: flex;
	    justify-content: space-around;
	    flex-wrap: wrap;
	}
	.sell-car {
	    padding: 3rem;
	}
							/* =============================== 
										  	Review
							================================= */
	.review::before {
		width: 200px;
	}
	.review::after {
		width: 200px;
	}
							/* =============================== 
										Why us section
							================================= */
	.why-us {
		padding: 3rem;
	}
	.row {
		gap: 20px;
	}
	.why-us-card {
		width: auto;
	}
	.why-us-lists {
		gap: 40px;
	}
	.why-us-lists-item img{
		width: 60px;
	}
							/* =============================== 
										FAQ's section
							================================= */
	.faq {
		padding: 3rem;
	}
	.panel {
		width: 40em;
	}
	.faq p:nth-of-type(2) { 
		font-size: 2rem;
	}
							/* =============================== 
										Blog section
							================================= */
	.blog {
		padding: 3rem;
	}
	.blog-heading-txt p:nth-of-type(2){
		font-size: 2rem;
	}
	.blog-btn img {
		width: 40px;
	}
	.my-card-txt p:nth-of-type(2) {
		font-size: 1.1rem;
	}
	.my-card-txt {
		font-size: 0.7rem;
	}
	.my-card {
    	flex: 0 0 calc(35% - 50px);
    	max-width: calc(35% - 50px);
	}
							/* =============================== 
										Footer section
							================================= */
	.footer {
		padding: 3rem;
	}
	.site-logo-2 img{
		width: 180px;
	}
	.icons-list img {
		width: 40px;
	}
	.social-txt , .footer-bottom, .footer-items{
		font-size: 0.8rem;
	}
	.footer-items {
		gap: 2rem;
	}
	.t-n-c-txt {
		padding-left: 1rem;
	}	
	.social-icons {
		padding-left: 2rem;
	}					
}

/* ==================================
		Media for tablet
===================================*/
@media only screen and (max-width: 768px) {
								/* ==================================
										Banner section
								===================================*/
	.sell-car-div p:first-child {
	    font-size: 3.3rem;
	}
	.sell-car-div p {
    	font-size: 0.8em;
	}
	.custom-bg {
        background: url(../img/maskgroup.png) no-repeat top -11% center, url(../img/Background.png) no-repeat bottom center;
        background-size: auto, 100% 100%;
    }
	.banner-body {
    	background-color: var(--bg-blue);
    }
    .get-btn {
        padding: 13px 11px 13px;
    }
    .bnr-text-input {
        width: 33rem;
    }
								/* ==================================
										review section
								===================================*/
    .review-slide {
        gap: 24px;  
    }
    .review-card {
        width: 300px;  
    }
    .review-body p {
        font-size: 0.9rem; 
    }
								/* ==================================
											 Map section
								===================================*/
	.map-desc p:nth-of-type(2) {
    	font-size: 2.3rem;
	}
	.map-desc p:first-child,
	.map-desc p:last-child {
    	font-size: 12px;
	}
	.map-txt p:first-child {
		font-size: 2rem;
	}
	.map-txt p:last-child {
		font-size: 0.8rem;
	}
	.started-txt {
		font-size: 12px;
	}
							/* =============================== 
										Why us section
							================================= */
	.col-sm {
        flex: 0 0 70%;
    }
    .row {
    	justify-content: center;
    }
    .why-us-div {
    	padding-top: 3rem;
    }
							/* =============================== 
										FAQ's section
							================================= */
	.panel {
		width: 35em;
	}
	.panel-title {
		font-size: 1.3rem;
	}
							/* =============================== 
										Blog section
							================================= */
	.my-card {
        flex: 0 0 calc(54% - 50px);
        max-width: calc(54% - 50px);
    }
							/* =============================== 
										Footer section
							================================= */
	.site-logo-2 img {
        width: 140px;
    }						
    .icons-list img {
        width: 30px;
    }
    .icons-list {
    	padding-top: 2rem;
    	gap: 1rem;
    }
    .social-txt, .footer-bottom, .footer-items {
        font-size: 0.6rem;
    }
    .footer-items {
    	gap: 1rem;
    }
    .social-icons img {
    	width: 15px;
    }
    .footer-bottom {
    	border-top: 1px solid #353535
    }
    .footer-top {
    	padding-bottom: 3rem;
    }
}
/* ==================================
		Media for mobile phone
===================================*/

@media only screen and (max-width: 375px) {
/* ==================================
		Banner section
===================================*/
	.navbar-brand {
		padding-left: 1rem !important;
	}
	.navbar-brand img{
		width: 106px;
	}
	.navbar-toggler-icon {
        width: 1.6em;
        height: 1.6em;
    }
    .navbar-toggler {
    	margin-right: 1rem !important;
    }
    .sell-car-div p:first-child {
        font-size: 1.8rem;
    }
    .desc-txt {
        font-size: 14px !important;
        padding: 0px 17px;
    }
    ::placeholder{
		font-size: 12px;
		padding-left: 0;
	}
	.bnr-text-input {
        width: 18rem;
        height: 43px;
    }
    .input-grup {
    	padding-top: 1.5rem !important;
    }
    .get-btn {
    	top: 45%;
    	right: 2%;
    	padding: 9px 9px 9px;
    	font-size: 8px;
    }
    .bnr-text-input {
    	padding-top: 10px;
    }
    .sell-car-div{
    	padding-top: 2rem;
    }
    .custom-bg {
        background: url(../img/maskgroup.png) no-repeat top -26% center, url(../img/Background.png) no-repeat bottom center;
        background-size: auto, 100% 100%;
    }
    .banner-body {
    	background-color: var(--bg-blue);
    }
    .backside-card-1 {
        padding: 5.5rem 10px 0 10px;
    }
    .card-body-1 {
    	width: 100%;
    }
    .backside-card-2 {
	    width: 100%;
	    padding: 4rem 10px 0 10px;
	}
	.seller-img {
		width: 40px;
	}
	.seller-div {
    	align-items: center;
	}
	.seller-txt{
		font-size: 13px;
	}
	.seller {
		padding: 6px;
	}
	.seller-txt-div {
		padding-left: 0.5rem !important;
	}
	.kia-txt {
		font-size: 18px;
	}
	.newyork-txt {
		font-size: 7px;
	}
	.dol-txt {
    	font-size: 23px;
	}
	.inv-dol {
		padding-top: 5px;
	}
	.bill-img {
		width: 55px;
	}
	.invoice {
		margin-top: 20px;
	}
	.inv-btn {
		padding-top: 20px !important;
	}
	.back-card-3 {
		padding: 4rem 10px 0 10px;
	}
								/* =============================== 
										  	Sell your car
								================================= */
	.scard-ftr {
    	height: 200px;
    }
    .round-num{
    	padding: 2px 13px;
    }
    .scard-body{
    	padding-top: 1rem;
    }
    .scard-body p:first-child {
    	font-size: 1.3rem;
    }
    .kia-txt {
        font-size: 15px;
    }
    .inv-txt-col, .num-co {
    	font-size: 12px;
    }
    .offer-div {
    	gap: 5px;
    	padding-top: 9px;
    }
    .verify-txt {
    	font-size: 1rem;
    	padding-bottom: 1rem;
    }
    .john-delton {
    	padding: 5px;
    }
    .john-delton img{
    	width: 30px;
    	height: 30px;
    }
    .john-delton p:first-child {
    	font-size: 0.5em;
    }
    .john-delton p:last-child{
    	font-size: 0.9em;
    }
    .vrfy-data-list {
    	align-items: center;
    }
    .vrfy-data-list p {
    	font-size: 11px;
    }
    .check-list {
    	gap: 0;
    	padding-top: 1rem;
    }
    .vrfy-data-list img {
    	width: 15px;
    }
    .sell-car {
        padding: 2rem;
    }
								/* ==================================
										review section
								===================================*/
	.review-card {
	    background-color: var(--col-wh);
	    flex: 0 0 298px;
	    padding: 16px;
	    border-radius: 13px;
	    scroll-snap-align: center;
	}
	.review::before {
		width: 60px;
	}
	.review::after {
        width: 60px;
    }
								/* ==================================
											 Map section
								===================================*/
	.map-div {
		padding: 2rem;
	}
	.map-desc p:first-child,
	.map-desc p:last-child {
		font-size: 10px;
	}
	.map-desc p:nth-of-type(2) {
		font-size: 1.2rem;
		padding: 9px 0 5px 0;
	}
	.map-txt p:first-child {
        font-size: 1rem;
    }
    .map-txt p:last-child {
        font-size: 0.4rem;
    }
    .map-numbers{
    	padding-top: 1.5rem;
    }
    .started-txt {
        font-size: 10px;
        padding: 1rem 0 0.5rem 0;
    }
    .map-img {
    	padding-top: 2rem !important;
    }
    .getstarted-btn { 
	    padding: 4px 20px 4px;
	    font-size: 10px;
	}
	.vertical-line {
    	border-left: 1px solid #4A4A8A;
	}
							/* =============================== 
										Why us section
							================================= */
	.col-sm {
        flex: unset;
    }
    .why-us {
        padding: 2rem;
    }
    .why-us-lists a {
    	font-size: 0.9rem;
	}
	.why-us-lists p:first-child {
   	 	font-size: 1.4rem;
   	}
   	.why-us-lists-item img {
        width: 50px;
    }
    .why-us-lists a {
    	font-size: 0.9rem;
    }
    .here-text-1 {
    	font-size: 0.7rem;
    }
    .here-text-1 p:nth-of-type(2) {
    	font-size: 2rem;
    }
    .seller-txt-div-2 {
    	font-size: 11px;
    	padding-left: 0.5rem !important;
    }
    .newyork-txt {
    	font-size: 7px;
    	align-items: center;
    }
    .kia-txt {
        font-size: 13px;
    }
    .why-txt{
    	font-size: 1rem;
    }
    .seller-2 {
		padding: 0;
		padding-top: 1.5rem !important;
	}
	.car-dtl {
		padding: 1rem 0 !important;
	}
							/* =============================== 
										FAQ's section
							================================= */
	.panel {
		padding: 7px 12px;
		width: 17em;
	}
	.panel-title {
		font-size: 13px;
	}
	.acco-btn img {
		width: 27px;	
	}
	.faq-txt {
		font-size: 0.7rem;
	}
	.faq p:nth-of-type(2) {
        font-size: 1.2rem;
    }
    .panel-body {
    	font-size: 0.8rem;
    }
							/* =============================== 
										Blog section
							================================= */
	.my-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog-heading-txt p:nth-of-type(2) {
        font-size: 1.5rem;
    }
    .here-text-1 {
        font-size: 0.6rem;
    }
    .blog-btn {
    	gap: 6px;
    }
    .blog-btn img {
    	width: 25px;
    }
    .blog-heading {
    	margin: 0;
    }

							/* =============================== 
										Footer section
							================================= */
	.footer-top {
		flex-wrap: wrap;
	    justify-content: center;
	    padding-bottom: 2rem;
	}
	.footer-items {
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 2rem;
	}	
	.footer-bottom {
		padding-top: 1.5rem;
	}
	.social-icons {
		gap: 10px;
		align-items: baseline;	
	}				
}