*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p{
	margin: 0;
}
:root {
	--bg-blue : #4276f4;
	--col-wh : #ffffff;
	--col-gray : #666D80;
	--col-blk : #0D0D12
}
/* =============================== 
		  Banner Section
================================= */
.custom-bg {
    background: 
        url('../img/maskgroup.png') no-repeat top -47% center,
        url('../img/Background.png') no-repeat bottom center;
        background-size: auto,100% 100%;
}
.bg-col {
	background-color: var(--bg-blue);
}
.nav-itm li a{
	color: var(--col-wh);
	font-family: 'circularStdL';
}
.nav-item a:hover{
	 color: #b7b2b2;
}
.nav-itm {
	border: 1px solid white;
    padding: 5px;
    border-radius: 32px;
    gap: 16px;
}
.sign-up-btn {
	background-color: var(--col-wh);
    color: var(--bg-blue);
    font-family: 'circularStd';
    border: none;
    padding: 10px;
    border-radius: 26px;
    width: 115px;
}
.sign-up {
	display: none;
}
.banner-body {
	background-color: var(--bg-blue);
	border-radius: 0 0 20px 20px !important;
	height: 100%;
}
 .banner {
 	padding-top: 0px;
 	overflow: hidden;
 	margin-bottom: 20px;
 }
.my-container {
	width: 100%;
	padding: 20px 20px 0 20px;
}
.radius {
	border-radius: 20px;
}
.nav-header {
	border-radius: 20px 20px 0px 0px;
}
.hero-img{
	background: url(../img/Background.png) no-repeat center;
	width: 100%;
	height: auto;
	position: relative;
 }
.sell-car-div p{
 	font-family: 'circularStdL';
    color: var(--col-wh);
    font-size: 1rem;
    letter-spacing: 1px;
   
 }
 .sell-car-div p:first-child{
 	font-size: 4rem;
 	font-weight: bold;
 	font-family: 'circularStd';
 }
.sell-car-div {
	padding-top: 8rem;
}
.banner-body{
	background: url(../img/Mask group.png);
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	position: relative;
}
 .banner-body::after{
		content: '';
    background: linear-gradient(180deg, rgba(22, 84, 236, 0) 9.42%, #1654EC 100%);
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    left: 0%;
    border-radius: 20px;
} 
.banner-body {
	height: 900px;
}
.bnr-text-input {
	width: 45rem;
    height: 70px;
    padding: 15px;
    background: linear-gradient(90.1deg, rgba(255, 255, 255, 0.9) -83.28%, rgba(255, 255, 255, 0.5) 99.91%);
    border: 2px solid #ffffff;
    border-radius: 38px;
    color: white;
}
::placeholder{
	font-family: 'circularStdL';
	font-weight: bold;
	color: white;
	font-size: 20px;
	padding-left: 20px;
}
.input-grup {
	position: relative;
    display: inline-block;
}
.get-btn{
	border-radius: 38px;
    border: 1px solid #000000;
    background: #FFF250;
    position: absolute;
    top: 48%;
    right: 1%;
    padding: 13px 42px 13px;
}
.backside-card-1{
	padding:10rem 0 0 0;
}
.card-body-1 {
	background-color: var(--col-wh);
	text-align: center;
    border-radius: 17px;
    padding: 31px 20px;
    width: 340px;
}
.card-body-1 p{
	font-family: 'inter';
}
.invoice {
	background-color: #F8FAFB;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.invoice-align {
	display: flex;
    justify-content: space-between;
    gap: 20px;
}
.invoice-btn {
	width: 50%;
    color: white;
    height: 40px;
    font-size: 10px;
    border-radius: 8px;
}
.share-btn{
	color: var(--col-blk);
    border: 2px solid #DFE1E7;
}
.share-btn:hover{
	border: 2px solid #DFE1E7;
}
.dwn-btn {
	background-color: var(--col-blk);
	color: var(--col-wh);
}
.dwn-btn:hover {
	background-color: var(--col-blk);
	color: var(--col-wh);
}
.inv-txt-col {
	color: var(--col-gray);
}
.inv-btn {
	font-family: 'inter';
	gap: 10px;
}
.num-col {
	color: var(--col-blk);
}
.inv-dtl-col {
	color: #818898;
}
.outline {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	border: 1px solid white;
    border-radius: 17px;
}
.invoice-align p:first-child{
	font-size: 12px;
}
.invoice-align p:last-child{
	font-size: 13px;
}
.inv-dol p:first-child{
	font-size: 10px;
}
.inv-dol p:last-child{
	font-size: 10px;
	text-decoration: underline;
}
.dol-txt {
	font-size: 25px !important;
}
.card-body-2 {
	background-color: var(--col-wh);
	border-radius: 17px;
	padding: 20px 20px 0 ;

}
.seller {
	padding: 10px;
    border-radius: 40px;
    background-color: #EDF1F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backside-card-2 {
	padding: 6rem 0 0 0;
}
.seller-div {
	display: flex;
}
.seller-txt {
	font-family: 'inter';
	color: var(--col-gray);
}
.seller-txt span {
	color: var(--col-blk);
	font-weight: 500;
}
.kia-txt {
	font-family: 'inter';
	color: var(--col-blk);
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
}
.kia-txt p:last-child {
	font-weight: 400;
}
.elipse-bfr::before {
	content: '|';
	color: #D7D7D7;
	padding: 0 6px;
}
.newyork-txt {
	font-family: 'inter';
	display: flex;
	color: var(--col-gray);
	font-size: 14px;
}
.newyork-txt img{
	margin-bottom: 3px;
}
.cards {
	padding: 0 7rem;
	display: flex;
	justify-content: space-between;
/*	justify-content: space-around;*/
	box-sizing: border-box;
	gap: 70px;
	align-items: baseline;
}
.vin-txt {
	background-color: #F8FAFB;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 0.7em;
}
.offer-div {
	display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 18px;
}
.wig-600 {
	font-weight: 500;
}

/* =============================== 
		  Review Section
================================= */
.review {
	background-color: #F8F8F8;
	padding-bottom: 4em;
	width: 100%;
	position: relative;
}
.review::before {
  content: '';
  position: absolute;
  width: 404px;
  height: 328px;
  top: calc(50% - 328px / 2);
  background: linear-gradient(270deg,  rgba(248, 248, 248, 0) 4.01%, #F8F8F8 75.87%);
}
.review::after {
  content: '';
  position: absolute;
  width: 404px;
  height: 328px;
  top: calc(50% - 328px / 2);
  background: linear-gradient(270deg,  rgba(248, 248, 248, 0) 4.01%, #F8F8F8 75.87%);
}
.review::before {
  left: 0;
}
.review::after {
  right: 0;
  transform: scaleX(-1);
}
.rvu-txt {
	font-family: circularStdL;
	color: var(--col-gray);
	font-weight: 900;
	letter-spacing: 1px;
	padding: 2rem 0;
}
.review-slide {
    display: flex;
    justify-content: flex-start;  
    gap: 32px;  
    overflow-x: auto;  
    scroll-snap-type: x mandatory;  
    padding-bottom: 1rem; 
    user-select: none; 
}
.review-card {
    background-color: var(--col-wh);
    flex: 0 0 350px;  
    padding: 20px;
    border-radius: 13px;
    scroll-snap-align: center;
}
.review-body {
    padding-top: 0.8em;
}
.review-body p {
    font-family: 'circularStd';
    color: #101010;
}
.user-nm {
    padding-left: 1rem;
    font-family: 'circularStd';
    color: #101010;
}
.user-nm span {
    color: #666D80;
    font-family: 'circularStdL';
    font-weight: bold;
}
.review-ftr {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}
.review-head span {
    font-size: 11px;
}
/* Hide scrollbar for a cleaner look */
.review-slide::-webkit-scrollbar {
    display: none;
}
.review-slide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
/* =============================== 
		  	Sell your car
================================= */
.sell-car{
	width: 100%;
	height: auto;
	padding: 7rem;
}
.sell-txt-div  {
	font-family: 'circularStdL';
	color: var(--col-gray);
}
.sell-txt-div p:nth-of-type(2) {
	color: var(--col-blk);
	font-family: 'circularStd';
	font-size: 3rem;
}
.round-num{
		display: inline-block;
    border: 8px solid #DBDBE2;
    padding: 6px 17px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.round-num span{
	font-size: 20px;
	font-family: 'circularStd';
}
.sell-car-step{
	display: flex;
	justify-content: space-between;
	gap: 70px;
	padding-top: 2.5rem;
}
.scard-1,.scard-2,.scard-3 {
	width: 400px;
	padding: 15px;
	background-color: #F6F6F6;
	border-radius: 20px;
}
.scard-body {
    padding-top: 2rem;
    padding-left: 1rem;
}
.scard-body p:first-child{
	font-family: 'circularStd';
	color: var(--col-blk);
	font-size: 1.6rem;
}
.scard-body p:last-child{
	font-family: 'circularStdL';
	color: var(--col-gray);
	font-weight: 700;
	padding-top: 1rem;
}
.outline-s{
	background-color: #DBDBE2;
	border: none;
}
.pad-b-0{
	padding-bottom: 0 !important;
}
.bdr-rad-btm-0{
	border-radius: 17px 17px 0 0 !important;
}
.john-delton {
	background-color: #EDF1F9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px;
  border-radius: 40px;
}
.john-txt-div {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.john-txt-div p:first-child{
	color: var(--col-gray);
	font-size: 0.6em;
}
.john-txt-div p:last-child{
	color: var(--col-blk);
	font-size: 1em;
}
.verify-txt {
	font-size: 1.5em;
	font-weight: 400;
	padding-bottom: 1.5rem;
}
.vrfy-data-list{
	display: flex;
	justify-content: space-between;
}
.check-list{
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-top: 2rem;
}
.scard-ftr {
	height: 296px;
	overflow: hidden;
}
.pt-6{
	padding-top: 4.5rem !important;
}
.vrfy-data-list p{
	color: var(--col-gray);
	font-family: 'circularStdL';
	font-weight: 600;
}
.inv-txt-col-2 {
	color: var(--col-blk);
	font-size: 1.3em;
}
.invoice-new-bg {
	background-color: #EDF1F9;
	margin-top: 42px;
	border-radius: 20px;
	padding: 14px;
}
/* =============================== 
		  	Map section
================================= */
.map-div {
	/*background-image: url(../img/mapbg.svg);
	background-position: bottom 35% center;
	background-size: 30%;
	background-repeat: no-repeat;*/
	background-color: #010130;
	border-radius: 20px;
	padding: 7rem;
	margin: 0 0 20px 0;
}
.map-desc p {
	color: var(--col-wh);
	font-family: 'circularStdL';
	font-weight: 400;
	color: #CECECE;
}
.map-desc p:nth-of-type(2) {
	font-family: 'circularStd';
	font-size: 3rem;
	padding: 20px 0 16px 0;
	color: var(--col-wh);
}
.map-numbers {
    display: flex;
    text-align: center;
    color: var(--col-wh);
    font-family: 'circularStdL';
    justify-content: center;
    gap: 5%;
    padding-top: 4rem;
    position: relative;
}
.map-txt p:first-child {
	font-family: 'circularStd';
	font-size: 3rem;

}
.map-txt p:last-child {
	color: #CECECE;
}
/*.myhr::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 66px;
    background: #4A4A8A;
    right: 41%;
    top: 53%;
    padding: 1px;
}
.myhr::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 66px;
    background: #4A4A8A;
    right: 57%;
    top: 53%;
    padding: 1px;
}*/
.vertical-line {
    border-left: 2px solid #4A4A8A;
}
.getstarted-btn {
	border-radius: 38px;
	padding: 9px 42px 9px;
	background-color: var(--col-wh);
	color: var(--col-blk);
	border: none;
	font-family: 'circularStd';
}
.started-txt {
	color: #CECECE;
	font-family: 'circularStdL';
	padding: 3rem 0 2.5rem 0;
}
/* =============================== 
	   Why choose us section
================================= */
.why-us {
	background-color: var(--col-wh);
	height: auto;
	padding: 7rem;
}
.here-text-1 {
	font-family: 'circularStdL';
	color: #666D80;
	font-size: 0.9rem;
	padding-bottom: 2rem;
}
.here-text-1 p:nth-of-type(2) {
	color: var(--col-blk);
	font-family: 'circularStd';
	font-size: 3rem;
}
.why-us-card {
    background-color: #F6F6F6;
    width: 455px;
    padding: 70px 15px 0 15px;
    border-radius: 17px 17px 0 0;
}
.why-txt {
	font-size: 1.3rem;
	font-weight: 400;
}
.seller-2 {
	padding: 0;
	background-color: var(--col-wh);
	padding-top: 2rem;
}
.seller-txt-div-2 p:first-child {
	color: var(--col-gray);
}
.seller-txt-div-2 p:last-child {
	color: var(--col-blk);
}
.seller-txt-div-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.kia-txt-2 {
	font-size: 1.1rem;
}
.kia-txt-2 p:first-child,
.kia-txt-2 p:last-child {
	font-weight: 500 !important;
}
.newyork-txt-2 {
	font-size: 11px;
}
.why-us-div {
	width: 555px;
	margin-top: auto;
}
.why-us-lists-item {
	display: flex;
	gap: 25px;
	font-family: 'circularStdL';
	font-weight: bold;
}
.why-us-lists a {
	text-decoration: none;
	color: #255FF0;
}
.why-us-lists p:first-child {
	color: var(--col-blk);
	font-size: 1.5rem;
	font-family: 'circularStd';
	font-weight: normal;
}
.why-us-lists p:nth-of-type(2) {
	color: var(--col-gray);
}
.why-us-lists {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
/* =============================== 
	   		 FAQ's
================================= */
.faq {
	background-color: #F8F8F8;
	padding: 7rem;
	font-family: 'circularStdL';
	color: var(--col-gray);
}
.faq p:nth-of-type(2) {
	color: var(--col-blk);
	font-family: 'circularStd';
	font-size: 3rem;
	padding: 13px 0 8px 0;
}
.panel {
	background-color: #ffffff;
    padding: 13px;
    border-radius: 20px;
    width: 52em;
}
.panel-group {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.panel-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.acco-btn {
	padding: 2px !important;
    border-radius: 100% !important;
}
.acco-btn img {
	width: 40px;
}
.panel-title {
	font-family: 'circularStd';
	font-size: 1.3rem;
	color: var(--col-blk);
}
.panel-body {
	padding-left: 1rem;
    font-size: 1.1rem;
}
.questions {
	padding-top: 3rem;
}
/* =============================== 
	   		 Blog
================================= */ 
.blog {
  background-color: var(--col-wh);
  padding: 7rem 5%; /* Add horizontal padding for responsiveness */
  height: auto;
  overflow: hidden;
}

.blog-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.blog-heading-txt p {
  margin: 0;
}

.blog-body {
  display: flex;
  justify-content: space-between;
  gap: 50px;  
  flex-wrap: nowrap;  
  overflow: hidden;  
}

.my-card {
    flex: 0 0 calc(25% - 50px);
    max-width: calc(25% - 50px);
}

.my-card img {
  width: 100%;
  border-radius: 8px; 
}

.my-card-txt {
  font-family: 'circularStdL', sans-serif;
  color: var(--col-gray);
  font-size: 0.9rem;
  padding: 1rem;
}

.my-card-txt p:nth-of-type(2) {
  color: var(--col-blk);
  font-family: 'circularStd', sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 0.5rem 0;
  font-weight: bold;
}

.my-card-txt span {
  color: #D9D9D9;
  padding: 0 6px;
}

.blog-btn {
  align-self: end;
  padding-bottom: 2rem;
  display: flex;
  gap: 20px;
}

.blog-btn .btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
/* =============================== 
	   		 footer
================================= */ 
.footer {
	padding: 7rem;
	background-color: #091315;
	height: 100%;
}
.social-txt {
	color: var(--col-wh);
	font-family: 'circularStd';
	padding-left: 1rem;
}
.social-txt p:first-child {
	font-family: 'circularStdL';
}
.icons-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 4rem;
}
.footer-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 5rem;
}
.footer-items {
	display: flex;
	color: var(--col-wh);
	font-family: 'circularStd';
	gap: 4rem;
}
.footer-items p {
	font-family: circularStdL;
	color: #A7A7A7;
}
.footer-bottom {
	border-top: 2px solid #353535;
	font-family: circularStdL;
	color: #A7A7A7;
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
}
.social-icons {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-left: 3rem;
}
.t-n-c-txt {
	padding-left: 3rem;
}